<%= render "shared/album_form", model: [:admin, @album], title: "Edit album" do %>
  <% content_for :imagesUploaded do %>
    <% @album.photos.each do |photo|%>
      <div class="image-preview-frame position-relative">
        <%= image_tag photo.image,  class: 'img-fluid rounded h-100 w-100' %>
        <%= check_box_tag "photos_delete[]", photo.id, false, id: "photos_delete#{photo.id}", class: 'd-none' %>
        <%= label_tag "photos_delete#{photo.id}", "", class: "position-absolute delete-image-checkbox btn btn-outline-danger" do %>
          <%= icon('fa-solid', 'close')%>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
       