<header class="d-flex align-items-center justify-content-between pb-3 border-bottom">
  <span class="fw-bold fs-4">Edit profile</span>
</header>

<div class="d-flex flex-column col-md-8 col-12 mx-auto" data-controller="preview">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field form-group d-flex justify-content-center my-2 w-100" data-controller="preview">
        <%= f.file_field :avatar, class: "image-frame" %>
        <%= f.label :avatar, id: "avatar-preview", class: "profile__avatar border", style: "background: url('#{url_for(current_user.avatar)}') center / cover no-repeat ; aspect-ratio: 1/1;" do %>
          <span class="bg-light text-dark mb-2 bg-opacity-75 shadow px-4 py-1 rounded">CHANGE</span>
        <% end %>
    </div>
    <p class="text-primary fw-bold">Basic infomation</p>

    <div class="field form-group d-flex align-items-center my-2">
      <%= f.label :email, class: 'text-nowrap col-3' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control mx-sm-3 w-100" %>
    </div>

    <div class="field form-group d-flex align-items-center my-2">
      <%= f.label "First name" , class: 'text-nowrap col-3'%>
      <%= f.text_field :fname, autofocus: true, autocomplete: "email", class:"form-control mx-sm-3 w-100" %>
    </div>

    <div class="field form-group d-flex align-items-center my-2">
      <%= f.label "Last name", class: 'text-nowrap col-3' %>
      <%= f.text_field :lname, autofocus: true, autocomplete: "email", class:"form-control mx-sm-3 w-100" %>
    </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field form-group d-flex align-items-center my-2">
      <%= f.label :current_password , class: 'text-nowrap col-3'%> 
      <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control mx-sm-3 w-100" %>
      <i>(we need your current password to confirm your changes)</i><br />
    </div> 


    <div class="actions w-100 text-center">
      <%= f.submit "Save change", class: "btn btn-primary" %>
    </div>
  <% end %> <br /> <br /> 


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <p class="text-primary fw-bold">Password</p>
    <div class="field form-group d-flex align-items-center my-2">
      <%= f.label :current_password , class: 'text-nowrap col-3'%> 
      <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control mx-sm-3 w-100" %>
    </div> 

    <div class="field form-group d-flex align-items-center my-2">
      <%= f.label :password, "New password", class: 'text-nowrap col-3' %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control mx-sm-3 w-100" %>
    </div>

    <div class="field form-group d-flex align-items-center my-2">
      <%= f.label :password_confirmation, "Confirm new password", class: 'text-nowrap col-3' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control mx-sm-3 w-100" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="actions w-100 text-center">
      <%= f.submit "Change my password", class: "btn btn-primary" %>
    </div>
  <% end %>
    
</div>
  



<%
=begin%>
 <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div> 
         
<%
=end%>
