<header class="d-flex align-items-center justify-content-between pb-3 border-bottom">
  <span class="fw-bold fs-4">Edit profile</span>
</header>

<div class="d-flex flex-column col-md-8 col-12 mx-auto" data-controller="preview">
  <%= render "shared/edit_user_form" %><br /> <br /> 


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <p class="text-primary fw-bold">Password</p>
    <div class="field form-group d-flex align-items-center my-2">
      <%= f.label :current_password , class: 'text-nowrap col-3'%> 
      <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control mx-sm-3 w-100" %>
    </div> 

    <div class="field form-group d-flex align-items-center my-2">
      <%= f.label :password, "New password", class: 'text-nowrap col-3' %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control mx-sm-3 w-100" %>
    </div>

    <div class="field form-group d-flex align-items-center my-2">
      <%= f.label :password_confirmation, "Confirm new password", class: 'text-nowrap col-3' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control mx-sm-3 w-100" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="actions w-100 text-center">
      <%= f.submit "Change my password", class: "btn btn-primary" %>
    </div>
  <% end %>
    
</div>
  



<%
=begin%>
 <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div> 
         
<%
=end%>
