<header class="d-flex align-items-center justify-content-between py-2 border-bottom">
  <span class="fw-bold"><%= title %></span>
    <%= link_to "Back", :back,  class: "btn btn-primary px-4 "%>
</header>
<%= form_with(model: model ,html: {class: "container g-3 needs-validation my-3", novalidate: true }) do |f| %>
  <div class="row">
    <div class="col-12 col-md-6">
      <%= f.label :title, class: "form-label" %>
      <%= f.text_field :title, class: "form-control", required: true %>
    
      <div class="col-12 col-md-6 mt-4">
        <%= f.label :sharing_mode, class: "form-label" %>
        <%= f.select :sharing_mode, options_for_select([["Private", "private"],["Public", "public"] ], :selected => @album.sharing_mode),{}, class: "form-select w-100" %>
      </div>
    </div>
    <div class="col-md-6 mt-4 mt-md-0 d-flex flex-column">
      <%= f.label :description, class:"form-label" %>
      <%= f.text_area :description, class: "form-control flex-grow-1", required: true %>
      <div class="invalid-feedback h-auto">
          Please provide a valid description.
      </div>
    </div>
    <%= yield %>
    <div class="mt-4 col-md-12 d-flex flex-column justify-content-start" data-controller="preview"> 
      <div id="imagesUploadedPreview" class="row imagesUploadedPreview">
        <%= yield :imagesUploaded %>
      </div>
      <div id="imagePreview" class="row"></div>
			<div class="row">
		  	<%= f.fields_for :images do |p| %>
          <div class="field">
            <%= f.label :images, class: "image-label d-flex", for: "imageInput" do %>
              <i class="fa-solid fa-plus plus-symbol m-auto"></i>
            <% end %>
            <%= p.file_field :image_link, multiple: true, class: "image-frame", id: "imageInput", name: "[images][]" %>
          </div>
			  <% end %>

			</div>
    </div>
    <div class="col-12 mt-4">
      <%= f.submit "Save", class: "btn btn-success px-4 me-2" %>
      <% if @album.user %>
        <%= f.submit "Delete", class: "btn btn-danger px-4 me-2", :name => 'delete' %>
      <% end %>
    </div>
  </div>
<% end %>