<div class= "card col col-12 col-md-6 post-item p-2 border-0 align-content-stretch">
  <div class="row g-0 border rounded shadow h-100">
    <div class="col-12 col-lg-5 position-relative post-image-container">
      <%= link_to photo_path(photo.id), data: { turbo_frame: "remote_modal" } do %>
        <%= image_tag photo.image , class: "img-fluid rounded-start post-image w-100" %>
      <% end %> 
    </div>
    <div class="col-12 col-lg-7">
      <div class="card-body d-flex flex-column h-100">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <%= link_to profile_path(photo.user), class: "col-lg-8 d-flex align-items-center text-decoration-none text-primary me-1" do %>
            <%= image_tag photo.user.avatar, class: "mini-avatar" %>
            <h6 class='ms-2 my-0 fs-7'><%= photo.user.fname + " " + photo.user.lname%> </h6>
          <% end %>
          <%= render partial: 'shared/follow_button', locals: {user: photo.user} %> 
        </div>
        <h5 class="card-title"><%= photo.title %></h5>
        <p class="card-text"><%=photo.description %></p>
        <div class="d-flex justify-content-between mt-auto align-items-center">
          <%= render partial: "shared/like_button", locals: {post: photo} %>
          <p class="card-text"><small class="text-muted"><%= photo.created_at %></small></p>
        </div>
      </div>
    </div>
  </div>
</div>