  <div class='row'>
    <%= link_to "Add new photos", new_photo_path, class: "btn btn-success w-25 ms-auto" %>
  </div>
  <div class='row'> 
    <% if @photos.size > 0 %>
      <% @photos.each do |item| %>
        <div class="card col-md-2 post-item p-2 border-0 text-center">
          <div class="position-relative post-image-container position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <% if item.image.attached? %>
              <%= image_tag(item.image.attached? && item.image, class: "img-fluid rounded-start post-image") %>
              <p class="mt-2"><%= item.title%></p>
              <% if item.sharing_mode == 'private' && @is_owner%>
                <%= link_to edit_photo_path(item), class: "btn btn-light position-absolute rounded-circle m-2", style: "top: 0; right: 0;" do %>
                  <i class="fa-solid fa-lock"></i>
                <% end %>
              <% end %>
              <%= link_to "Edit", edit_photo_path(item), class: "btn btn-outline-light position-absolute m-2 border-0", style: "bottom: 50px; right: 0;" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= render partial: "shared/empty_record", locals: {record: "photo"}%>
    <% end %>

  </div>