<div class="profile d-flex justify-content-center">
  <%= image_tag @avatar, class: "profile__avatar rounded-circle me-4 border" %>
  <div class="profile-info flex-fill justify-content-end h-100">
    <% if current_user %>
      <% if @is_owner %>
        <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-outline-primary my-3" %>
      <%else %>
        <%= render partial:  'shared/follow_button', locals: {profile_user_id: @profile_user_id, is_followed: @is_followed} %> 
      <%end %>
    <% end %>
    <h2><%=  @full_name %></h2>
    <ul class="nav nav-tabs border-0 d-flex my-2" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active border-0" id="photos-tab" data-bs-toggle="tab" data-bs-target="#photos" type="button" role="tab" aria-controls="home" aria-selected="true">
          <i class='fs-5'><%= @photos.size %> </i>photos
        </button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link border-0" id="albums-tab" data-bs-toggle="tab" data-bs-target="#albums" type="button" role="tab" aria-controls="profile" aria-selected="false">
            <i class='fs-5'><%= @albums.size %> </i>albums
          </button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link border-0" id="followings-tab" data-bs-toggle="tab" data-bs-target="#followings" type="button" role="tab" aria-controls="settings" aria-selected="false">
            <i class='fs-5'><%= @followings.size %> </i>followings
          </button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link border-0" id="folloers-tab" data-bs-toggle="tab" data-bs-target="#followers" type="button" role="tab" aria-controls="messages" aria-selected="false">
            <i class='fs-5'><%= @followers.size %> </i>followers
          </button>
      </li>
    </ul>
        
        <!-- Tab panes -->
  </div>

</div>
<div class="tab-content mt-4">
  <div class="tab-pane active" id="photos" role="tabpanel" aria-labelledby="home-tab">
    <%= render 'profile/photos' %>
  </div>
  <div class="tab-pane" id="albums" role="tabpanel" aria-labelledby="profile-tab">
    <%= render 'profile/albums' %>
  </div>
  <div class="tab-pane" id="followers" role="tabpanel" aria-labelledby="messages-tab">
    <%= render partial: 'profile/follow-list', object: @followers, as: "follows" %>
  </div>
  <div class="tab-pane" id="followings" role="tabpanel" aria-labelledby="settings-tab">
    <%= render partial: 'profile/follow-list', object: @followings, as: "follows" %>
  </div>
</div>