<!DOCTYPE html>
<html>
  <head>
    <title>FinalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class='wrapper' data-controller = "sidebar">
      <%= render 'layouts/admin_navbar' %>  
      <div class="container-fluid p-0">
        <div class ="d-flex flex-row align-items-start">
          <div class="admin-main-content w-100 me-3  d-flex flex-column position-relative">
            <%= yield %>
          </div>
          <%= turbo_frame_tag "remote_modal", target: "_top" %>
        </div>
      </div>
    </div>
  </body>

  
</html>
