<!DOCTYPE html>
<html>
  <head>
    <title>FinalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class='wrapper'>
      <%= render 'layouts/header' %>  
      <%= render "layouts/sidebar" %>
      <div class="container-xl position-relative main-content">
        <div class="row justify-content-center position-relative h-100">
          <div class="col-12 col-lg-10 col-xl-10 d-flex flex-column shadow rounded bg-white p-4">
            <%= yield %>
            <%= turbo_frame_tag "remote_modal", target: "_top" %>
          </div>
        </div>
      </div>
    </div>
  </body>

  
</html>
