<!DOCTYPE html>
<html>
  <head>
    <title>FinalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class='wrapper'>
      <%= render 'layouts/header' %>       
      <div class="container-xl position-relative main-content">

          <p class="alert"><%= alert %></p> 
          <%= yield %>
          <%= turbo_frame_tag "remote_modal", target: "_top" %>
      </div>
    </div>
  </body>

  
</html>
