<!DOCTYPE html>
<html>
  <head>
    <title>FinalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class='wrapper'>
      <% if current_user && current_user.admin? %>
        <%= link_to "Go to Admin dashboard", admin_users_path, class: "btn btn-warning position-fixed bottom-0 end-0 z-100"  %>
      <% end %>
      <%= render 'layouts/header' %>  
      <%= render "layouts/sidebar" %>
      <div class="container-xl container-fluid position-relative main-content">
        <div class="row justify-content-center position-relative h-100">
          <div class="col-12 col-lg-10 col-xl-10 d-flex flex-column shadow rounded bg-white p-4 ">
            <%= yield %>
            <%= turbo_frame_tag "remote_modal", target: "_top" %>
            <div class="modal" tabindex="-1" role="dialog" id="turbo-confirm">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="dialog">
                    <h3 class="message">Are you sure you want to save data?</h3>
                    <div>
                        <button value="cancel" class="btn btn-secondary">Cancel</button>
                        <button value="confirm" class="btn btn-primary save">Save changes</button>
                    </div>
                   </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary">Save changes</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
            
          </div>
        </div>
      </div>
    </div>
  </body>

  
</html>
